<html>
 <!-- 
       This template is used for the preview.
       It contains a table of all thumbnails of a directory
  -->
 <head>
  <title>%(title)s</title>
  <script src="../misc/gthumpy.js" type="text/javascript"></script>
  <script src="../misc/gthumpy.js" type="text/javascript"></script>
  <script type="text/javascript">
   document.default_size=500;
  </script>
  <link rel=stylesheet type="text/css" href="../misc/style.css">
  </head>
 <body onLoad="mark_hash()">
  <div align="center">
   %(start_link)s
   <br>Directory: <b>%(title)s</b>
   <table border="1" class="thinborder">
    <tr>
     <th>No</th>
     <th>Title</th>
     <th>Description</th>
     <th>Date</th>
     <th>Preview (click to enlarge)</th>
    </tr>
    %(rows)s
   </table>
   Directory: <b>%(title)s</b><br>
   %(start_link)s
  </div>
 </body>
</html>
